.adminPage-nav-button {
    background-color: #aa13eb;
    color: white;
    border: none;
    padding: 12px 24px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    width: auto;
    text-align: center;
    display: inline-block;
}

.adminPage-nav-button:hover {
    background-color: #d00dea;
}

.adminPage-nav-button:focus {
    outline: none;
}

@media (max-width: 768px) {
    .adminPage-nav-button {
        padding: 10px 20px;
        font-size: 14px;
        width: 100%;
        margin: 10px 0;
    }
}

.adminPage-admin-heading {
    font-size: 24px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.adminPage-logout-button {
    background-color: #e61e0f;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    width: auto;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.adminPage-logout-button:hover {
    background-color: #fb2d2d;
}

.adminPage-logout-button:focus {
    outline: none;
}

@media (max-width: 768px) {
    .adminPage-logout-button {
        font-size: 14px;
        width: 100%;
    }
}

.adminPage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100vh;
    background-color: #d770eceb;
}

.adminPage-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.adminPage-card {
    background-color: rgb(190, 101, 235);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(205, 41, 230, 0.42);
    text-align: center;
    width: 250px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.adminPage-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.adminPage-card p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #666;
}

.adminPage-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.adminPage-nav-button {
    background-color: #c926fa;
    color: rgb(245, 239, 244);
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.adminPage-nav-button:hover {
    background-color: #b914eb;
}

.adminPage-logout-button {
    background-color: #fb0e2e;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    width: auto;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.adminPage-logout-button:hover {
    background-color: #f71616;
}

.adminPage-logout-button:focus {
    outline: none;
}

@media (max-width: 768px) {
    .adminPage-cards {
        flex-direction: column;
        align-items: center;
    }

    .adminPage-card {
        width: 90%;
        margin-bottom: 20px;
    }

    .adminPage-nav-button {
        padding: 12px;
        font-size: 16px;
        width: 100%;
    }
}

.login-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.login-h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.login-page-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.login-page-input-field {
    padding: 12px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.login-page-button {
    background-color: #be0fe5;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.login-page-button:hover {
    background-color: #da05fa;
}

.error-message {
    color: red;
    background-color: #FFF0F5;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    box-shadow: 0 4px 6px rgba(255, 182, 193, 0.3), 0 1px 3px rgba(255, 182, 193, 0.15);
}

@media (max-width: 768px) {

    .login-page-input-field,
    .login-page-button {
        font-size: 14px;
        padding: 10px;
    }
}