* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.App {
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.content {
  flex: 1;
  background-color: #f4f4f4;
}

header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
  background-color: #b315c5;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 1000;
}

header h1 {
  font-size: x-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #fff;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: large;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #f600fa;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.home-section,
.skills-section,
.about-me-section,
.blog-section,
.recommendations-section,
.contact-me-section {
  text-align: center;
  background-color: #f4f4f4;
  padding: 7rem 0 0.5rem 0;
}

.home-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 6rem;
  width: 100%;
}

.profile-content {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

.portfolio-heading-start {
  color: #b315c5;
}

@keyframes colorChange {
  0% {
    color: #e4fc0a;
  }
  10% {
    color: #ff5733;
  }
  20% {
    color: #33ff57;
  }
  30% {
    color: #ffbd33;
  }
  40% {
    color: #ff33a8;
  }
  50% {
    color: #07c30a;
  }
  60% {
    color: #33d4ff;
  }
  70% {
    color: #ef4d20ea;
  }
  80% {
    color: #dade0ffc;
  }
  90% {
    color: #cd3f1fbd;
  }
  100% {
    color: #09eaf1;
  }
}

.portfolio-heading {
  animation: colorChange 15s infinite;
}

@keyframes typing {
  0% {
    width: 0;
    opacity: 0;
  }
  10% {
    width: 10%;
    opacity: 0;
  }
  20% {
    width: 20%;
    opacity: 0;
  }
  30% {
    width: 30%;
    opacity: 0;
  }
  40% {
    width: 40%;
    opacity: 0;
  }
  50% {
    width: 50%;
    opacity: 0;
  }
  60% {
    width: 60%;
    opacity: 0;
  }
  70% {
    width: 70%;
    opacity: 0;
  }
  80% {
    width: 80%;
    opacity: 0;
  }
  90% {
    width: 90%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes erasing {
  0% {
    width: 100%;
    opacity: 1;
  }
  10% {
    width: 90%;
    opacity: 1;
  }
  20% {
    width: 80%;
    opacity: 1;
  }
  30% {
    width: 70%;
    opacity: 1;
  }
  40% {
    width: 60%;
    opacity: 1;
  }
  50% {
    width: 50%;
    opacity: 1;
  }
  60% {
    width: 40%;
    opacity: 1;
  }
  70% {
    width: 30%;
    opacity: 1;
  }
  80% {
    width: 20%;
    opacity: 1;
  }
  90% {
    width: 10%;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 1;
  }
}

.portfolio-sub-heading {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  color: #372c39;
}

.portfolio-sub-heading::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  animation: typing 10s steps(30) forwards, erasing 10s 3s steps(40) infinite;
}

.profile-image {
  border-radius: 50%;
  border: 6px solid #fff;
  width: 300px;
  height: 300px;
  margin: 1rem;
  object-fit: cover;
}

.companies-section {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.company-logo img {
  width: 350px;
  height: auto;
  object-fit: contain;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  background-color: #fff;
  transition: transform 0.3s;
  margin-top: 1rem;
}

.company-past-org {
  background-color: #ba0dba;
  color: #fefefb;
  padding: 1rem;
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
  margin-top: 0.5rem;
  border-radius: 5px;
  text-align: center;
}

.section-header-btn {
  background-color: #b315c5;
  color: #fff;
  display: block;
  padding: 0.5rem 0;
  font-weight: 700;
  font-size: x-large;
  text-transform: uppercase;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
}

.skills-section {
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 8px;
  margin-top: 2rem;
}

.skills-section h3 {
  font-size: 1.8rem;
  color: #333;
}

.skills-logos {
  display: flex;
  justify-content: space-around;
  padding: 3rem 1.5rem;
}

.skills-logos img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  transition: transform 0.2s;
  padding: 0 0.5rem;
}

.skills-logos img:hover {
  transform: scale(1.1);
}

.about-me-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 1rem auto 0 auto;
}

.about-me-text {
  max-width: 800px;
  text-align: left;
  margin: 1rem;
}

.about-me-text h3 {
  font-size: x-large;
  font-weight: 700;
  margin-top: 0;
  color: #7b0a7b;
  text-align: center;
}

.about-me-text p {
  line-height: 1.6;
  color: #575353;
  margin: 0.5rem 0;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.blog-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 1rem;
  margin-top: 1rem;
}

.blog-card {
  background: #f1a9ebdf;
  border: 1px solid #ddd;
  margin: 1rem;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  width: 300px;
  text-align: left;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.blog-card-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #dc08f096;
  color: #fff;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-transform: uppercase;
}

.blog-card p {
  color: #333;
  padding-top: 1.5rem;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.blog-card a {
  display: block;
  background-color: #dc08f096;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-align: center;
}

.blog-card a:hover {
  background-color: rgba(123, 22, 105, 0.953);
  text-decoration: none;
}

.blog-container {
  width: "60%";
  margin: "0 auto";
  padding: "20px";
  font-family: "Arial, sans-serif";
  line-height: "1.6";
  color: "#333";
}
.blog-header {
  text-align: "center";
  color: "#444";
}
.blog-qaContainer {
  margin-bottom: "20px";
  border-bottom: "1px solid #ddd";
  padding-bottom: "10px";
}
.blog-question {
  color: "#555";
}
.blog-answer {
  color: "#666";
}

#recommendations {
  padding-top: 5.5rem;
}

#recommendation-header-btn {
  display: block;
  text-align: center;
  padding: 1rem 0;
  border-radius: none;
}

.recommendations-section {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 4rem;
}

.recommendations-section h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #400d49;
}

.slick-prev,
.slick-next {
  z-index: 1;
}

.slick-prev {
  left: -30px;
}

.slick-next {
  right: -30px;
}

#slick-arrow-custom {
  color: #b315c5;
}

.slick-prev.custom-arrow,
.slick-next.custom-arrow {
  color: #b315c5 !important;
}

.slick-prev.custom-arrow:before,
.slick-next.custom-arrow:before {
  color: #b315c5 !important;
  font-size: 1.5rem !important;
}

.recommendation-card {
  padding: 1rem;
  border-radius: 8px;
  background-color: #c7c9;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 2rem;
}

.recommendation-image {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 4px solid #f7f8f3;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.recommendation-feedback {
  font-size: 0.9rem;
  color: #380430;
  text-align: left;
  position: relative;
  font-style: italic;
  font-size: medium;
}

.recommendation-name {
  font-weight: bolder;
  font-size: large;
  color: #961a7ff3;
  margin-bottom: 0;
}

.recommendation-position {
  font-size: 0.9rem;
  color: #c115a7d3;
  font-weight: bold;
  margin-top: 0.5rem;
}

.see-more {
  text-decoration: underline;
  color: #d015b4;
  cursor: pointer;
  font-weight: bold;
}

.see-more:hover {
  color: #380430;
}

.recommendation-linkedin {
  display: inline-block;
  background-color: #d618ec;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.8rem;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.recommendation-linkedin:hover {
  background-color: rgb(168, 31, 159);
  text-decoration: none;
}

#contact-me {
  padding: 8rem 0;
  background-color: #f4f4f4;
  margin-bottom: 0;
}

.contact-me-text {
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  font-style: italic;
  margin-top: 1rem;
}

.contact-me-btn {
  background-color: #d618ec;
  color: #fff;
  display: inline-block;
  padding: 0.6rem 1rem;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
  transition: background-color 0.3s;
  outline: none;
  border-color: #b315c5;
  box-shadow: none;
}

.contact-me-btn:hover {
  background-color: rgb(168, 31, 159);
  text-decoration: none;
}

.footer {
  text-align: center;
  padding: 0.5rem;
  background-color: #b315c5;
  color: #fff;
  width: 100%;
}

@media (max-width: 768px) {
  .home-section {
    flex-direction: column;
    align-items: center;
    padding: 4rem 0 4rem;
  }

  .menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 1.5rem;
    z-index: 1200;
  }

  .menu-icon .bar {
    width: 2rem;
    height: 0.25rem;
    background-color: #fff;
    margin: 3px 0;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }

  .menu-icon.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-icon.open .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-icon.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .nav-menu {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: fixed;
    top: 4rem;
    right: 0;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    padding: 0.5rem 1rem;
    background-color: #b315c5;
    box-shadow: -1px 0px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-140%);
    transition: transform 0.4s ease;
    margin: 0;
  }

  .nav-menu.open {
    transform: translateY(0);
  }

  .close-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: transform 0.3s ease;
  }

  .home-section,
  .skills-section,
  .about-me-section,
  .blog-section,
  .recommendations-section,
  .contact-me-section {
    padding: 5rem 0 0.5rem 0;
  }

  .profile-image {
    width: 150px;
    height: 150px;
  }

  .company-logos {
    flex-direction: column;
    align-items: center;
  }

  .skills-section {
    padding: 2rem 1rem;
  }

  .skills-logos {
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 0;
    flex-wrap: wrap;
  }

  .skills-logos img {
    width: 50px;
    height: 50px;
  }

  header {
    height: 4rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-content {
    width: 100%;
    padding: 0.25rem 0.5rem;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav ul li {
    margin: 0.5rem 0;
  }

  .home-section-content {
    flex-direction: column;
    align-items: center;
  }

  div .companies-section {
    margin: 1rem 0 0 0;
  }

  .profile-content,
  .companies-section {
    width: 100%;
  }
  .profile-content {
    margin-top: 1rem;
  }
  .portfolio-heading-start,
  .portfolio-heading {
    font-size: larger;
    margin: 0 0 0.5rem 0;
  }
  .portfolio-sub-heading {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0;
    width: 100%;
    max-width: 100%;
    font-size: 0.7rem;
    margin: 0;
  }

  .company-logo img {
    width: 200px;
    height: auto;
    max-width: 300px;
  }

  .about-me-content {
    flex-direction: column;
  }

  .about-me-text {
    text-align: center;
  }

  .about-me-text h3 {
    font-size: 1.2rem;
  }

  .blog-card p {
    text-align: center;
  }

  .blog-cards {
    flex-direction: column;
    padding: 0;
  }

  .blog-card {
    width: 90%;
    margin: 1rem auto;
  }

  .recommendations-section {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 2rem 2rem;
  }

  .slick-prev {
    left: 0;
  }

  .slick-next {
    right: 0;
  }

  .footer {
    text-align: center;
    padding: 0.5rem;
    background-color: #b315c5;
    color: #fff;
    width: 100%;
  }
}
