* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
}

.App {
  width: 100%;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.content {
  flex: 1;
  background-color: #f4f4f4;
}

header {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
  background-color: #b315c5;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 1000;
}

header h1 {
  font-size: x-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #fff;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: large;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #f600fa;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-content h1 {
  font-size: x-large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  color: #fff;
}
.home-section {
  padding: 7rem 0 0 0;
}

.home-section,
.skills-section,
.about-me-section,
.blog-section,
.recommendations-section,
.contact-me-section {
  text-align: center;
  background-color: #f4f4f4;
}

.home-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 6rem;
  width: 100%;
}

.profile-content {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
}

@keyframes colorChange {
  0% {
    color: #e4fc0a;
  }
  10% {
    color: #ff5733;
  }
  20% {
    color: #33ff57;
  }
  30% {
    color: #ffbd33;
  }
  40% {
    color: #ff33a8;
  }
  50% {
    color: #07c30a;
  }
  60% {
    color: #33d4ff;
  }
  70% {
    color: #ef4d20ea;
  }
  80% {
    color: #dade0ffc;
  }
  90% {
    color: #cd3f1fbd;
  }
  100% {
    color: #09eaf1;
  }
}

.portfolio-heading {
  animation: colorChange 15s infinite;
}

@keyframes typing {
  0% {
    width: 0;
    opacity: 0;
  }
  10% {
    width: 10%;
    opacity: 0;
  }
  20% {
    width: 20%;
    opacity: 0;
  }
  30% {
    width: 30%;
    opacity: 0;
  }
  40% {
    width: 40%;
    opacity: 0;
  }
  50% {
    width: 50%;
    opacity: 0;
  }
  60% {
    width: 60%;
    opacity: 0;
  }
  70% {
    width: 70%;
    opacity: 0;
  }
  80% {
    width: 80%;
    opacity: 0;
  }
  90% {
    width: 90%;
    opacity: 1;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes erasing {
  0% {
    width: 100%;
    opacity: 1;
  }
  10% {
    width: 90%;
    opacity: 1;
  }
  20% {
    width: 80%;
    opacity: 1;
  }
  30% {
    width: 70%;
    opacity: 1;
  }
  40% {
    width: 60%;
    opacity: 1;
  }
  50% {
    width: 50%;
    opacity: 1;
  }
  60% {
    width: 40%;
    opacity: 1;
  }
  70% {
    width: 30%;
    opacity: 1;
  }
  80% {
    width: 20%;
    opacity: 1;
  }
  90% {
    width: 10%;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 1;
  }
}

.portfolio-sub-heading {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  color: rgb(129, 128, 128);
  font-size: large;
}

.portfolio-sub-heading::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  animation: typing 10s steps(30) forwards, erasing 10s 3s steps(40) infinite;
}

.profile-image {
  border-radius: 50%;
  border: 6px solid #fff;
  width: 300px;
  height: 300px;
  margin: 1rem;
  object-fit: cover;
}

.companies-section {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.company-logo img {
  width: 350px;
  height: auto;
  object-fit: contain;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  background-color: #fff;
  transition: transform 0.3s;
  margin-top: 1rem;
}

.company-past-org {
  background-color: #ba0dba;
  color: #fefefb;
  padding: 1rem;
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
  margin-top: 0.5rem;
  border-radius: 5px;
  text-align: center;
}

.section-header-btn {
  background-color: #b315c5;
  color: #fff;
  display: block;
  padding: 0.5rem 0;
  font-weight: 700;
  font-size: x-large;
  text-transform: uppercase;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  border-radius: 5px;
}

.skills-section {
  padding: 2rem;
  text-align: center;
  margin: 2rem 1rem 1rem;
  max-width: 1200px;
}

.skills-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 2rem 0;
  padding-top: 3rem;
}

.skill-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.skill-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.about-me-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.about-me-text {
  max-width: 800px;
  text-align: left;
  margin: 1rem;
}

.about-me-text h3 {
  font-size: x-large;
  font-weight: 700;
  margin-top: 0;
  color: #7b0a7b;
  text-align: center;
}

.about-me-text p {
  line-height: 1.6;
  color: #575353;
  margin: 0.5rem 0;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.blog-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 1rem;
  margin-top: 1rem;
}

.blog-card {
  background: #f1a9ebdf;
  border: 1px solid #ddd;
  margin: 1rem;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  width: 300px;
  text-align: left;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.blog-card-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #dc08f096;
  color: #fff;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  text-transform: uppercase;
}

.blog-card p {
  color: #333;
  padding-top: 1.5rem;
  font-size: medium;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.blog-card a {
  display: block;
  background-color: #dc08f096;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  text-align: center;
}

.blog-card a:hover {
  background-color: rgba(123, 22, 105, 0.953);
  text-decoration: none;
}

.blog-container {
  width: "60%";
  margin: "0 auto";
  padding: "20px";
  font-family: "Arial, sans-serif";
  line-height: "1.6";
  color: "#333";
}
.blog-header {
  text-align: "center";
  color: "#444";
}
.blog-qaContainer {
  margin-bottom: "20px";
  border-bottom: "1px solid #ddd";
  padding-bottom: "10px";
}
.blog-question {
  color: "#555";
}
.blog-answer {
  color: "#666";
}

footer {
  text-align: center;
  padding: 0.5rem;
  background-color: #b315c5;
  color: #fff;
  width: 100%;
}

.footer {
  text-align: center;
  padding: 0.5rem;
  background-color: #b315c5;
  color: #fff;
  width: 100%;
}

@media (min-width: 768px) {
  .md\\:hidden {
    display: none;
  }

  .md\\:flex {
    display: flex;
  }
}

@media (max-width: 768px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  .home-section {
    flex-direction: column;
    align-items: center;
    padding: 4rem 0 4rem;
  }

  .home-section,
  .recommendations-section {
    padding: 5rem 0 0 0;
  }

  .about-me-section,
  .skills-section {
    padding: 0 0 0.5rem 0;
  }

  .profile-image {
    width: 150px;
    height: 150px;
  }

  .company-logos {
    flex-direction: column;
    align-items: center;
  }

  header {
    height: 4rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-content {
    width: 100%;
    padding: 0.25rem 0.5rem;
  }

  .home-section-content {
    flex-direction: column;
    align-items: center;
  }

  div .companies-section {
    margin: 1rem 0 0 0;
  }

  .profile-content,
  .companies-section {
    width: 100%;
  }
  .profile-content {
    margin-top: 1rem;
  }

  .portfolio-heading {
    font-size: 1.7rem;
    margin: 0 0 0.5rem 0;
  }

  .portfolio-heading-title {
    font-size: 1.1rem;
  }

  .portfolio-sub-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    max-width: 100%;
    margin: 0;
    font-size: 0.9rem;
  }

  .company-logo img {
    width: 200px;
    height: auto;
    max-width: 300px;
  }

  .skill-logo {
    width: 70px;
    height: 70px;
  }

  .about-me-content {
    flex-direction: column;
  }

  .about-me-text {
    text-align: center;
  }

  .about-me-text h3 {
    font-size: 1.2rem;
  }

  .blog-card p {
    text-align: center;
  }

  .blog-cards {
    flex-direction: column;
    padding: 0;
  }

  .blog-card {
    width: 90%;
    margin: 1rem auto;
  }

  .md\\:hidden {
    display: block;
  }

  .md\\:flex {
    display: none;
  }

  .absolute {
    position: absolute;
  }

  .top-full {
    top: 100%;
  }

  .right-0 {
    right: 0;
  }

  .w-full {
    width: 100%;
  }

  .footer {
    text-align: center;
    padding: 0.5rem;
    background-color: #b315c5;
    color: #fff;
    width: 100%;
  }
}
